* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f8f1e7;
}

.periexomeno {
    background-image: url(../images/people\ making\ coffe.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: 4px solid rgb(211, 211, 185);
    border-radius: 5px;
}

/* styling  για το χεντερ, παρομοιο σε ολες τι σελιδες*/
header {
    background-image: url(../images/bread-2598861_1280.jpg);
    /* η εικονα δεν εχει πνευματικα δικαιωματα source: https://pixabay.com/photos/bread-pastry-food-brunch-plate-2598861/ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15rem;
    color: #34312c;


}

header div {
    background-color: rgb(159, 134, 105);
    border-radius: 8px;
    padding: 0.6rem;
    box-shadow: 0.2rem 0.2rem;
    margin: 1rem;
    padding: 0.1rem;

}

header h1 {
    display: flex;
    font-family: Font, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 1000;
    flex-wrap: wrap;
    margin-right: 0.4rem;



}



nav {
    background-color: #f8f1e7;
    color: #5a3e36;
    padding: 1rem;
    width: 40%;
    margin: 1px auto;
    border-radius: 8px;



}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0;
    flex-wrap: wrap;
}

nav a {
    color: #5a3e36;
    text-decoration: none;
}



nav a:hover {
    color: #d2955d;
    font-size: 1.1em;


}


nav a:active {
    color: #ffcc5c;
}

main {
    display: flex;
    gap: 10rem;
    justify-content: center;
    margin: 2rem;
    flex-wrap: wrap;


}

main div {
    border: solid 3px black;
    width: 20rem;
    height: fit-content;
    background-color: aliceblue;
    box-shadow: 0 4px 8px black;
    align-items: start;
    justify-content: center;
    padding: 1rem;

}

main div:hover {

    transform: scale(1.05);
    transition: transform 0.3s ease;
}

p {
    padding: 0.3rem;
    flex: 1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;

}

h3 {
    text-decoration: underline;
    padding: 0.2rem;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
    font-weight: bold;
    color: #5a3e36;
}

section {
    margin-top: 3rem;

}

.sec {
    display: flex;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(144, 144, 126);
    ;
    border: 2px solid #34312c;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    margin: 3rem auto;
    width: 45%;
    flex-wrap: wrap;
    border-radius: 5px;

}

.sec img {
    margin-left: 1rem;
    width: 50%;
    min-height: 5rem;
    max-width: 22rem;
    min-width: 5rem;
    height: auto;
    border-radius: 6px;
    max-height: 23rem;
}

.sectext {
    flex: 1;
    padding: 1rem;
}

.sectext h2 {
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: large;
    text-decoration: underline;
}

footer {

    display: flex;
    background: #966d63;
    padding: 0.5rem;
    justify-self: flex-end;
    border-radius: 5px;
    font-size: large;
    font-weight: 1000;
    border: solid 2px black;
    margin: 1rem;


}

footer:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}

@font-face {
    font-family: 'Font';
    src: url(../FONTS/Pacifico-Regular.ttf) format('truetype');
}