* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 185);
}


/* styling  για το χεντερ, παρομοιο σε ολες τι σελιδες*/
header {
    background-image: url(../images/bread-2598861_1280.jpg);
    /* η εικονα δεν εχει πνευματικα δικαιωματα source: https://pixabay.com/photos/bread-pastry-food-brunch-plate-2598861/ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15rem;
    color: #34312c;


}

header div {
    background-color: rgb(159, 134, 105);
    border-radius: 8px;
    padding: 0.6rem;
    box-shadow: 0.2rem 0.2rem;
    margin: 1rem;
    padding: 0.1rem;

}

header h1 {
    display: flex;
    font-family: Font, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 1000;
    flex-wrap: wrap;
    margin-right: 0.4rem;



}



nav {
    background-color: #f8f1e7;
    color: #5a3e36;
    padding: 1rem;
    width: 40%;
    margin: 1px auto;
    border-radius: 8px;



}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0;
    flex-wrap: wrap;
}

nav a {
    color: #5a3e36;
    text-decoration: none;
}



nav a:hover {
    color: #d2955d;
    font-size: 1.1em;
}

nav a:active {
    color: #ffcc5c;
}

main h2 {
    text-align: center;
    padding: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #34312c;
    box-shadow: 0 4px 4px black;

    margin: 1rem 0;
    background-color: #5a3e36;
    color: #f8f1e7;

}


.ev1,
.ev2,
.ev3 {
    display: flex;
    justify-self: center;
    padding: 2rem;
    align-items: center;
    background-color: rgb(144, 144, 126);
    ;
    border: 2px solid #34312c;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    overflow: hidden;
    flex-wrap: wrap;
    margin: 2rem;


}

.ev1:hover,
.ev2:hover,
.ev3:hover {

    transform: scale(1.05);
    transition: transform 0.3s ease;
}


.ev1 h3,
.ev2 h3,
.ev3 h3 {
    padding: 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: larger;
}

.event-text {
    flex: 1;
}

.ev1 img {
    margin-left: 1rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
}




.event-text2 {
    flex: 1;
    padding: 2.8rem;
}

.ev2 img,
.ev3 img {
    margin-left: 1rem;
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 6px;
}



.event-text3 {
    flex: 1;
    padding: 3.5rem;
}

footer
{
   
    display: flex;
    background: #966d63;
    padding: 0.5rem;
    justify-self: flex-end;
    border-radius: 5px;
    font-size: large;
    font-weight: 1000;
    border: solid 2px black;
    margin: 0.1rem;
    
   
}


@font-face {
    font-family: 'Font';
    src: url(../FONTS/Pacifico-Regular.ttf) format('truetype');
    ;
}

@media screen and (max-width:768px) {
    body
    {
        overflow: auto;
    }

    
}
