* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(211, 211, 185);
}


/* styling  για το χεντερ, παρομοιο σε ολες τι σελιδες*/
header {
    background-image: url(../images/bread-2598861_1280.jpg);
    /* η εικονα δεν εχει πνευματικα δικαιωματα source: https://pixabay.com/photos/bread-pastry-food-brunch-plate-2598861/ */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 15rem;
    color: #34312c;


}

header div {
    background-color: rgb(159, 134, 105);
    border-radius: 8px;
    padding: 0.6rem;
    box-shadow: 0.2rem 0.2rem;
    margin: 1rem;
    padding: 0.1rem;

}

header h1 {
    display: flex;
    font-family: Font, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    font-weight: 1000;
    flex-wrap: wrap;
    margin-right: 0.4rem;



}

/* ομοιως και για το nav */
nav {
    background-color: #f8f1e7;
    color: #5a3e36;
    padding: 1rem;
    width: 40%;
    margin: 1px auto;
    border-radius: 8px;
    overflow: hidden;



}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 0px;
    padding: 0;
    flex-wrap: wrap;

}



nav a {
    color: #5a3e36;
    text-decoration: none;
}



nav a:hover {
    color: #d2955d;
    font-size: 1.1em;
}

nav a:active {
    color: #ffcc5c;
}

/* Εδω ξεκινανε οι κριτικες των πελατων */

main {
    overflow: hidden;
}

main h1 {
    text-align: center;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #5a3e36;
    background-color: #d2955d;
    width: max-content;
    border: 3px solid;
    border-radius: 2rem;
    box-sizing: border-box;
    padding: 0.7rem;
    box-shadow: 1px 1px 1px;

}

main h1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.rev1 {
    display: flex;
    background-color: #f8f1e7;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0.2rem;
    width: 50%;
    height: fit-content;
    overflow: hidden;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 5px 4px;



}


.rev1 img {
    margin-left: 1rem;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    padding: 0.2rem;
    background-color: #5a3e36;


}

.rev1 img:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.text1 {
    flex: 1;
    padding: 1.5rem;


}

.text1 h3 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
    font-size: larger;
}

.text1 p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 0.5rem;
}


.text1 h3::after {
    content: "⭐⭐⭐⭐⭐";
}

.date {

    font-size: small;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
    height: 3.5rem;

}

#img2 {
    margin-bottom: 1rem;
}




article {
    display: flex;
    width: 30rem;
    margin-right: 0.5rem;
    margin-left: auto;
    padding: 1rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 2px black;
    overflow: hidden;
    flex-wrap: wrap;
    border-radius: 5px;
    height: auto;

}

/* εδω ξεκιναει ο κωδικας για τη φορμα επικοινωνιας */

form {
    background-color: #f8e1db;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 1rem;
    justify-content: center;
    align-items: flex-end;
    border-radius: 5px;
    overflow: hidden;
   

}



form h3 {
    color: black;
    padding: 1rem;
    margin-bottom: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #5a3e36;
    text-shadow: 1px 1px 2px #d2955d;

}

label {

    margin: 0.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

input {

    margin: 0.1rem;
    padding: 0.3rem;
    border-radius: 0.5rem;

}

input:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

textarea {

    width: 80%;
    margin-top: 0.5rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
    margin-bottom: 0.5rem;

}


.sup {
    margin-left: 0;
    width: 80%;

}

/* εδω γινεται styling για τα radio buttons */
#rad {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    padding: 0.3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2px dashed;
    margin-top: 0.4rem;
    width: 20rem;
    overflow: hidden;
    flex-wrap: wrap;
}

#rad input {
    margin: 0.5rem;
}

#rad input :hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

footer {

    display: flex;
    background: #966d63;
    padding: 0.5rem;
    justify-self: flex-end;
    border-radius: 5px;
    font-size: large;
    font-weight: 1000;
    border: solid 2px black;
    margin: 4rem 0.1rem 0.1rem 0.1rem;


}

footer:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}


@font-face {
    font-family: 'Font';
    src: url(../FONTS/Pacifico-Regular.ttf) format('truetype');
    ;
}

/* εμφανιση σε media πχ κινητο tablet */

@media (max-width: 768px) {
    .rev1 {
        flex-direction: column;
        height: auto;
    }

    .rev1 img {
        margin: 0;
        margin-bottom: 1rem;
        margin-top: 2rem;
        width: 150px;
        height: 150px;
    }

    .text1 {
        padding: 1rem;
    }


    article {
        flex-direction: column;
        height: auto;
        width: 60%;
        margin-right: 2rem;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        overflow: hidden;
       
    }
}